.hitList {
	background-color: black;
	font-size: 30px;
	padding-bottom: 30px;
	padding-top: 30px
	
}
/*
.row {
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
	background-color:
}
*/



img {
	position : relative;
	width:150px;
	height: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

figcaption {
	
}