<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <link rel="stylesheet" href="styles.css">


</head>
<body ng-controller= 'mainController'>
	<div id="form1" class='row'>
		<div class='col-sm-6'>
			<div class="todolist not-done">
			<h2>Todo Website</h2>
			<div><input type='text' class="form-control add-todo" placeholder="Pirce" ng-model ="todoList.price"/></div>
			<div><input type='text' class="form-control add-todo" placeholder="Title" ng-model ="todoList.title"/> </div>
			<div><input type='text'  class="form-control add-todo" placeholder="imgURL" ng-model ="todoList.imgUrl"/> </div>
			<div><input type='text'  class="form-control add-todo" placeholder="Description" ng-model ="todoList.description"> </div>
			</div>
			<div><button id="submit" class="btn btn-success" ng-click ="submit(todoList)">submit</button></div>
			</div>
	</div>
	
	<div ng-repeat="item in postMe track by $index">
		<div id="form2" class="row">
			<div class='col-sm-6'>
				<div>{{item.price}}</div>
				<div>{{item.title}}</div>
				<div><img ng-src="{{item.imgUrl}}"></div>
				<div>{{item.description}}</div>
	 			<div><input type="checkbox", ng-model="checked"><h3 ng-class="{'finished':checked}"></h3></div>
	 			<div><button ng-click="remove($index)">remove item</button></div>
	
	</div>
	</div>
	</div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<script src="app.js"></script>
</html>