.box {
    position: relative;
    top:100px;
    background-color: blue;
    height: 300px;
    width: 600px;
}

.nested-box {
    position: relative;
    top:100px;
    background-color: red;
    height: 300px;
    width: 200px;
} 

.nested-box2 {
    position: relative;
    top:100px;
    left:200px
    background-color: red;
    height: 300px;
    width: 200px;
}