.box {
background-color :red;
background-color: red;
}


.container box {
	
}
:root {
    --first-color: #F5C6D6 ;
    --second-color: #EE2E84 ;
    --third-color: #85CFD8 ;
    --fourth-color:#8DC63F ;
     --fifth-color:#E76E34 ; 
}

* {
    box-sizing: border-box; 
    font-size: 0px;
}

.col-12 {
    height: 100px;
    display:inline-block;
    width: 100%;
    background-color: var(--first-color);
    border: 5px solid #fff; 

    
}

.col-3 {
    height: 100px;
    display:inline-block;
    width: 25%;
    background-color: var(--second-color);
    border: 5px solid #fff; 

    
}

.col-6 {
    height: 100px;
    display:inline-block;
    width: 50%;
    background-color: var(--third-color);
    border: 5px solid #fff; 
}

.col-9 {
    height: 100px;
    display:inline-block;
    width: 75%;
    background-color: var(--fourth-color);
    border: 5px solid #fff; 
}

.col-9-3 {
    height: 100px;
    display:inline-block;
    width: 25%;
    background-color: var(--fifth-color);
    border: 5px solid #fff; 
}