#submit,#delete,#edit {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

#form1, #form2, #form3 {
	margin-left: 10px;
	padding-top:10px;
	padding-bottom: 10px;
	
}

.finishedCheckbox {
	padding-left:10px;
	padding-right: 10px;
}

.todolistInputs {
	text-align: center;
}

#form2 {
	margin-left: 10px;
	background-color: whitesmoke;
}

img {
	height: 200px;
}

.finished {
    text-decoration: line-through;
	background-color: yellow;
}